/* Icons from directory "" */
.sprite-svg-1,.sprite-svg-1\:regular{background-image:url('/images/icons.svg');background-position:0 0;background-repeat:no-repeat}
.sprite-svg-1-dims{width:30px;height:30px}
.sprite-svg-10,.sprite-svg-10\:regular{background-image:url('/images/icons.svg');background-position:0 -30px;background-repeat:no-repeat}
.sprite-svg-10-dims{width:200px;height:200px}
.sprite-svg-2,.sprite-svg-2\:regular{background-image:url('/images/icons.svg');background-position:0 -230px;background-repeat:no-repeat}
.sprite-svg-2-dims{width:45px;height:45px}
.sprite-svg-3,.sprite-svg-3\:regular{background-image:url('/images/icons.svg');background-position:0 -275px;background-repeat:no-repeat}
.sprite-svg-3-dims{width:60px;height:60px}
.sprite-svg-4,.sprite-svg-4\:regular{background-image:url('/images/icons.svg');background-position:0 -335px;background-repeat:no-repeat}
.sprite-svg-4-dims{width:85px;height:85px}
.sprite-svg-5,.sprite-svg-5\:regular{background-image:url('/images/icons.svg');background-position:0 -420px;background-repeat:no-repeat}
.sprite-svg-5-dims{width:100px;height:100px}
.sprite-svg-6,.sprite-svg-6\:regular{background-image:url('/images/icons.svg');background-position:0 -520px;background-repeat:no-repeat}
.sprite-svg-6-dims{width:125px;height:125px}
.sprite-svg-7,.sprite-svg-7\:regular{background-image:url('/images/icons.svg');background-position:0 -645px;background-repeat:no-repeat}
.sprite-svg-7-dims{width:140px;height:140px}
.sprite-svg-8,.sprite-svg-8\:regular{background-image:url('/images/icons.svg');background-position:0 -785px;background-repeat:no-repeat}
.sprite-svg-8-dims{width:165px;height:165px}
.sprite-svg-9,.sprite-svg-9\:regular{background-image:url('/images/icons.svg');background-position:0 -950px;background-repeat:no-repeat}
.sprite-svg-9-dims{width:180px;height:180px}