.svg-1 {
    background: url('/images/svg-1.svg');
    width: 30px;
    height: 30px;
    list-style-type: none;
}
.svg-2 {
    background: url('/images/svg-2.svg');
    width: 45px;
    height: 45px;
    list-style-type: none;
}
.svg-3 {
    background: url('/images/svg-3.svg');
    width: 60px;
    height: 60px;
    list-style-type: none;
}
.svg-4 {
    background: url('/images/svg-4.svg');
    width: 85px;
    height: 85px;
    list-style-type: none;
}
.svg-5 {
    background: url('/images/svg-5.svg');
    width: 100px;
    height: 100px;
    list-style-type: none;
}
.svg-6 {
    background: url('/images/svg-6.svg');
    width: 125px;
    height: 125px;
    list-style-type: none;
}
.svg-7 {
    background: url('/images/svg-7.svg');
    width: 140px;
    height: 140px;
    list-style-type: none;
}
.svg-8 {
    background: url('/images/svg-8.svg');
    width: 165px;
    height: 165px;
    list-style-type: none;
}
.svg-9 {
    background: url('/images/svg-9.svg');
    width: 180px;
    height: 180px;
    list-style-type: none;
}
.svg-10 {
    background: url('/images/svg-10.svg');
    width: 200px;
    height: 200px;
    list-style-type: none;
}